# Visual Studio и кэш проекта
.vs/
*.suo
*.user
*.slnx

# Скомпилированные бинарники и артефакты сборки
bin/
obj/

# Python кэш
__pycache__/
*.pyc

# Логи и пользовательские бэкапы
*.log
bin/Debug/net8.0-windows/VoiceProfiles/